pdf2image==1.17.0
langchain~=0.3.20
langchain-openai==0.3.8
langchain-community~=0.3.19
python-dotenv==1.0.1
openai~=1.66.3
transformers~=4.49.0
matplotlib==3.9.2
pandas~=2.2
tiktoken~=0.8.0
azure-identity~=1.21.0
azure-search-documents==11.5.2
azure-ai-generative==1.0.0b11
azure-cognitiveservices-speech~=1.42.0
azure-ai-documentintelligence==1.0.1
scikit-learn==1.5.2
datasets~=3.4.0
opencv-python-headless==4.11.0.86
Markdown==3.7
markdownify==1.1.0
pymupdf==1.25.4
Jinja2==3.1.6
jsonlines==4.0.0
promptflow[azure]==1.17.2
promptflow-tools==1.6.0
azure-ai-contentsafety==1.0.0
einops==0.8.1
onnx>=1.15.0
onnxruntime>=1.18.0
onnxscript>=0.1.0.dev20240126
git+https://github.com/microsoft/Olive
peft==0.14.0
pickleshare==0.7.5
httpx==0.28.1
azure-ai-inference==1.0.0b9