pdf2image==1.17.0
langchain==0.2.15
langchain-openai==0.1.23
langchain-community==0.2.15
python-dotenv==1.0.1
openai==1.43.0
transformers~=4.44
matplotlib==3.9.2
pandas~=2.2
tiktoken==0.7.0
azure-identity==1.17.1
azure-search-documents==11.5.1
azure-ai-generative==1.0.0b8
azure-cognitiveservices-speech==1.40.0
azure-ai-documentintelligence==1.0.0b3
scikit-learn==1.5.1
datasets~=2.21
opencv-python-headless==4.10.0.84
markdownify==0.13.1
pymupdf==1.24.9
Jinja2
jsonlines
promptflow[azure]
promptflow-tools
azure-ai-contentsafety==1.0.0
einops
onnx>=1.15.0
onnxruntime>=1.18.0
onnxruntime-genai>=0.2.0
onnxscript>=0.1.0.dev20240126
git+https://github.com/microsoft/Olive
peft