python-dotenv==1.0.1
openai==1.43.0
scikit-learn==1.5.1
datasets~=2.21
transformers~=4.44
pandas~=2.2
plotly
matplotlib
Jinja2
einops
onnx>=1.15.0
onnxruntime>=1.18.0
onnxruntime-genai>=0.2.0
onnxscript>=0.1.0.dev20240126
git+https://github.com/microsoft/Olive
peft